svg text {
  pointer-events: none;
}

.block {
  fill: #fff;
}

.interactive-block {
  fill: #fff;
}

.interactive-block:hover {
  fill: red;
}

.outline {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.stroke-5 {
  stroke-width: 5px;
}

.door {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.shape {
  fill: #fff;
  stroke: #000;
  stroke-miterlimit: 10;
}

.text-big {
  font-size: 12px;
  font-family: Verdana;
}

.text-small {
  font-size: 7px;
  font-family: Verdana;
}

.dashed {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 6;
}

.interactive-floor {
  width: 75%;
}

.interactive-link:hover,
.interactive-link:focus {
  text-decoration: none;
}
