.interactive-block {
  fill: #fff;
}

.interactive-block:hover {
  fill: red;
}

.cls-2 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.cls-3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

.cls-4 {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-5 {
  fill: #fff;
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-6 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-7 {
  font-size: 12px;
  font-family: Verdana;
}

.cls-8 {
  font-size: 7px;
  font-family: Verdana;
}

.cls-9 {
  font-size: 11px;
  font-family: Verdana;
}

.cls-10 {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-11{
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 6;
}
