:root {
  --light1: #AFCBB1;
  --light2: #7BA97E;
  --light3: #538D57;
  --light4: #357039;
  --light5: #195D1D;

  --norm1: #95ACA5;
  --norm2: #688E82;
  --norm3: #457667;
  --norm4: #2D5E4F;
  --norm5: #154E3D;

  --dark1: #909EA5;
  --dark2: #657C88;
  --dark3: #456371;
  --dark4: #2D4B5A;
  --dark5: #173B4A;
}

svg text {
  pointer-events: none;
}

.block {
  fill: #fff;
}

.block-on {

}

.interactive-block {
  fill: #fff;
}

.interactive-block:hover {
  fill: var(--norm1);
}

.interactive-link:hover,
.interactive-link:focus {
  text-decoration: none;
}

.outline {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.stroke-5 {
  stroke-width: 5px;
}

.door {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.shape {
  fill: #fff;
  stroke: #000;
  stroke-miterlimit: 10;
}

.text-big {
  font-size: 12px;
  font-family: Verdana;
}

.text-small {
  font-size: 7px;
  font-family: Verdana;
}

.dashed {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 6;
}

.interactive-floor {
  width: 45%;
}
