:root {
  --light1: #AFCBB1;
  --light2: #7BA97E;
  --light3: #538D57;
  --light4: #357039;
  --light5: #195D1D;

  --norm1: #95ACA5;
  --norm2: #688E82;
  --norm3: #457667;
  --norm4: #2D5E4F;
  --norm5: #154E3D;

  --dark1: #909EA5;
  --dark2: #657C88;
  --dark3: #456371;
  --dark4: #2D4B5A;
  --dark5: #173B4A;
}

html {
  height: 100%;
  width: 100%;
}

body {
  /*background: #F5FBF1;*/
  background-repeat: repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  height: inherit;
}

.max-size {
  margin: 0;
  padding: 0;
  height: inherit;
}

.side-menu {
  background-color: var(--dark4);
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 0;
  margin: 0;
  height: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav-stacked > li {
  margin-bottom: -2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a.active,
.nav-pills > li > a:hover {
  border-radius: 0;
}

.menu > li.active > a,
.menu > li.active > a:focus,
.menu > li.active > a:hover,
.menu > li > a.active,
.menu > li > a:hover {
  background-color: var(--dark1);
  color: var(--dark5);
}

.menu > li + li {
  border-top-style: solid;
  border-top-color: var(--norm1);
  border-top-width: 1px;
}

.menu > li > a {
  /*height: inherit;*/
  text-align: center;
  margin: auto;
  color: white;
}

.menu > li > a > i {
  font-size: 45px;
  padding: 0;
}

.menu-separator {
  height: 1px;
  width: inherit;
  padding: 0;
  margin: 0;
  background-color: black;
}

.top-nav {
  margin: 0;
  border-radius: 0 0 0 0;
  border-style: none;
}

.style-nav {
  background-color: var(--dark5);
}

.navbar-default .navbar-text,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default .quickset > li > a,
.navbar-default .quickset > li > a:hover {
  color: white;
}

.navbar-brand {
  padding: 5px;
}

@media (min-width: 0px){
  .navbar-brand-text {
    float: left;
    margin: 10px 15px 10px 15px;
    font-size: 20px;
    overflow: hidden;
  }
}

.login-label {
  margin-right: 0;
}

.nav-logout-btn {
  margin-left: 15px;
  margin-right: 0;
}

.nav-icon {
  width: 40px;
  height: auto;
  float: left;
}

/*.dashboard {
  background-color: var(--light1);
}*/

.internal {
  padding-left: 0;
  height: inherit;
}

.internal > .tab-pane {
  height: inherit;
}

.floors-pane {
  background-color: var(--norm3);
}

@media (max-width: 768px){
  .floors-pane {
    height: auto;
  }
}

.floor-pill > li > a {
  color: white;
}

.floor-pill > li.active > a,
.floor-pill > li.active > a:focus,
.floor-pill > li.active > a:hover,
.floor-pill > li > a:hover {
  background-color: var(--norm2);
}

.floor-div {
  text-align:center;
  height: inherit;
}

.floor-title {
  background-color: var(--light1);
}

.svg-div {
  padding-top: 20px;
}

.navbar-fixed-bottom {
  border-top-style: none;
}

.quickaction {
  height: 48px;
  vertical-align: middle;
}

.quickaction-label {
  margin: 1px 0 1px 0;
  padding: 0 5px 0 5px;
  top: 0;
  bottom: 0;
}

.quickaction-label > i {
  font-size: 40px;
  float: left;
}

@media (min-width: 0px){
  .quickaction-label > p {
    margin: 15px 15px 15px 15px;
    font-size: 20px;
    overflow: hidden;
  }
}

.quickbutton {
  padding: 4px;
}

.quickbutton > i {
  font-size: 24px;
}

.quickicon {
  color: white;
}

.appliance-header {
  text-align: center;
}

.modal-btn {
  float: left;
}

.input-compact {
  margin-bottom: 0;
}

.input-cozy {
  padding-bottom: 15px;
}

.jumbotron.off-message {
  border-radius: 0;
}

.overlay {
  width: 40%;
  height: 50px;
  position: absolute;
  bottom: 40px;
  right: 0;
}
