html {
  height: 100%;
}

body {
  /*background: #F5FBF1;*/
  background-repeat: repeat;
  padding-top: 50px;
  padding-bottom: 50px;
  height: inherit;
}

.max-size {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

.side-menu {
  background-color: azure;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 0;
  margin: 0;
  height: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
}

.menu > li + li {
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 1px;
  margin-top: 0;
}

.menu > li > a {
  height: inherit;
  text-align: center;
  margin: auto;
}

.menu > li > a > i {
  font-size: 50px;
  padding: 0;
}

.menu-separator {
  height: 1px;
  width: inherit;
  padding: 0;
  margin: 0;
  background-color: black;
}

.compact-nav {
  margin: 0;
  border-radius: 0 0 0 0;
  border-bottom-color: red;
}

.navbar-brand {
  padding: 5px;
  /*width: 200px;*/
}

.navbar-brand >img{
  float: left;
  /*width: 200px;*/
}

@media (min-width: 0px){
  .navbar-brand-text {
    float: left;
    margin: 10px 15px 10px 15px;
    font-size: 20px;
    overflow: hidden;
  }
}

.login-label {
  margin-right: 0;
}

.nav-icon {
  width: 40px;
  height: auto;
}

.internal {
  padding-left: 0;
  height: inherit;
}

.internal > .tab-pane {
  height: inherit;
}

#floor-plan {
  background-color: grey;
  background-color: rgba(50, 50, 50, 0.5);
}

#global {
  background-color: red;
  background-color: rgba(50, 50, 50, 0.5);
}

.navbar-fixed-bottom {
  /*height: 50px;*/
  border-top-style: none;
}

.quickaction {
  height: 48px;
  vertical-align: middle;
}

.quickaction-label {
  margin: 1px 0 1px 0;
  padding: 2px 5px 2px 5px;
  top: 0;
  bottom: 0;
}

.quickaction-label > i {
  font-size: 40px;
}

.quickbutton {
  padding: 4px;
}

.quickbutton > i {
  font-size: 24px;
}
